<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=red-hat-display:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|roboto:100" rel="stylesheet" />
<!-- <script src="/assets/js/custom-theme.js" defer=""></script> -->
<style type="text/css">
	:root * {
		--fonts-proportional: "Red Hat Display", "Noto Sans", "Liberation Sans", sans-serif, var(--fonts-emoji) !important;
	}
	@font-face {
		family: "Cal Sans";
		src:
			url('assets/fonts/CalSans-SemiBold.woff2') format('woff2'),
			url('assets/fonts/CalSans-SemiBold.woff') format('woff'),
			url('assets/fonts/CalSans-SemiBold.ttf') format('truetype');
	};
</style>
